*{
    margin: 0;
}

a{
    color: #242424;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
    color: #f9f8ff;
}
h1
{
    font-size: 3.5em;
    color:#A5B4FC;
    font-family: 'Montserrat', sans-serif ;
    

}
p{
    font-size: 1.1em;
    margin: 40px;
}
em{
    color:#A5B4FC;
    font-style: normal;
}
section{
    padding: 80px;
}
header, footer {
    background-color: white;
    color: #242424;
    padding: 20px 50px 20px 50px;
}
.lienspe {
    color: white;
    background: linear-gradient( #8e86b5, #acaeed);
    border-radius: 50px;
    padding: 10px;
    width: 20%;
    margin-top: 60px;
}
.lienspe:hover{
    background: linear-gradient(#696484, #8788BA)
}
.contenu{
    border-bottom: 1px #8e86b5 solid;
    border-right: 1px #8e86b5 solid;
    border-radius: 0px 50px 50px 50px;
    padding: 50px;
   
}
.lienheader:hover{
    opacity: 0.5;
}
h2{
    margin: 50px;
}
ul{
    margin: 50px;
}
section{
    padding: 80px;
}
.contenthome{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-items: flex-start;
}
.stockphoto{
    
    display: flex;
    width: 75%;
    flex-wrap: wrap;  
    margin: auto;
    justify-content: space-between;
    align-content: space-between;
    gap: 25px;
}
.lastproject{
    background-color: white;
    color: #1f2039;
    display: flex;
    flex-direction: column;
    align-items: center;

}
nav, footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
nav a{
    margin-left: 30px;
    font-size: 1.3em;
    font-weight: bold;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contact h2{
    color:#A5B4FC;
}
.infocontact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    flex-wrap: wrap;
    
}
.formsmall{
    background-color: white;
    border-radius: 5px;
    width: 200px;
    height: 50px;

}
.contform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formlarge{
    background-color: white;
    border-radius: 5px;
    width: 415px;
    height: 300px;
}